
<!-- footer 시작-->
<footer id="footer">
    <div class="footer_inner">
        <h2>footer</h2>
        <div class="footer_menu">
            <button type="button" id="" onclick="openLayerPopup('popFullPopup2')">개인정보처리방침</button>
            <button type="button" id="" onclick="openLayerPopup('popFullPopup3')">이용약관</button>
            <a href="/faq">FAQ</a>
        </div>
        <p class="footer_copy">Copyright emotive CO., LTD. ALL RIGHTS RESERVED.</p>
    </div>		
</footer>
<!-- //footer 끝-->

